body {
  margin: 0;
  font-family: 'Quicksand', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header,
section {
  padding: 1rem 2rem;
  opacity: 0;
}

footer {
  padding: 0.5rem 1rem;
}

section h2 {
  background: rgb(255, 187, 93);
  border-radius: 20px;
  padding: 2px 15px;
}

hr {
  margin: 0 auto;
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.column--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.row--nowrap {
  flex-wrap: nowrap;
}

.row--flex-reverse {
  flex-direction: row-reverse;
  justify-content: center;
}

.content--space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text--bigger {
  font-size: 32px;
}

.text--biggest {
  font-size: 40px;
}

.text--white {
  color: #fff;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--light {
  font-weight: 300;
}

.text--letter-spacing {
  letter-spacing: 0.3rem;
}

.text--letter-spacing-large {
  letter-spacing: 1.2rem;
}

.line-height--15 {
  line-height: 1.5;
}

.text--break {
  word-break: break-word;
}

.border-linear {
  border: 1px solid #000;
}

.border-circled {
  border-radius: 20px;
}

.width--10 {
  width: 100% !important;
}

.width--8 {
  width: 80%;
}

.width--7 {
  width: 70%;
}

.width--6 {
  width: 60%;
}

.width--5 {
  width: 50%;
}

.width--4 {
  width: 40%;
}

.width--3 {
  width: 30%;
}

.height--10 { 
  height: 100%;
}

.max-width--10 {
  max-width: 100%;
}

.max-width--7 {
  max-width: 70%;
}

.max-width--6 {
  max-width: 60%;
}

.max-width--5 {
  max-width: 50%;
}

.max-width--4 {
  max-width: 40%;
}

.max-width--3 {
  max-width: 30%;
}

.padding {
  padding: 1rem;
}

.padding--4 {
  padding: 4rem;
}

.margin--05 {
  margin: 0.5rem;
}

.margin-top--1 {
  margin-top: 1rem;
}

.margin-top--2 {
  margin-top: 2rem;
}

.margin-bottom--0 {
  margin-bottom: 0;
}

.margin-bottom--1 {
  margin-bottom: 1rem;
}

.margin-bottom--2 {
  margin-bottom: 2rem;
}

.text--sign {
  font-family: 'Zeyada', serif;
  font-weight: 400;
  font-style: normal;
}

.bg--orange-to-white {
  background: rgb(255, 245, 226);
  background: linear-gradient(
    0deg,
    rgba(255, 245, 226, 1) 7%,
    rgba(255, 147, 0, 0.7) 63%,
    rgba(255, 147, 0, 0.9) 100%
  );
}

.bg--white-to-orange {
  background: rgb(255, 245, 226);
  background: linear-gradient(
    180deg,
    rgba(255, 245, 226, 1) 7%,
    rgba(255, 147, 0, 0.7) 63%,
    rgba(255, 147, 0, 0.9) 100%
  );
}

.bg--black {
  background: #000;
}

.bg--blured {
  background: rgba(255,255,255,.3);
}

.absolute {
  position: absolute;
}

.click-to-copy {
  cursor: pointer;
  position: relative;
}

.click-to-copy:hover {
  transform: scale(1.01);
  filter: blur(3px);
  -webkit-filter: brightness(100%);
  transition: all 0.1s ease-in;
}

.click-to-copy:hover .click-to-copy-message {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 1350px) {
  .text--bigger {
    font-size: 30px;
  }

  .text--biggest {
    font-size: 34px;
  }

  .text--letter-spacing {
    letter-spacing: 0.3rem;
  }

  .text--letter-spacing-large {
    letter-spacing: 1rem;
  }

  .padding--4 {
    padding: 4rem 1rem;
  }
}

@media screen and (max-width: 1150px) {
  .text--bigger {
    font-size: 24px;
  }

  .text--biggest {
    font-size: 30px;
  }

  .text--letter-spacing-large {
    letter-spacing: 0.7rem;
  }
}

@media screen and (max-width: 1000px) {
  .text--bigger {
    font-size: 18px;
  }

  .text--biggest {
    font-size: 24px;
  }

  .text--letter-spacing-large {
    letter-spacing: 0.3rem;
  }
}

@media screen and (max-width: 800px) {
  header,
  section {
    padding: 10px;
  }

  .text--letter-spacing {
    letter-spacing: normal;
  }

  .text--letter-spacing-large {
    letter-spacing: normal;
  }
}

@media screen and (max-width: 700px) {
  header,
  section {
    padding: 10px;
  }

  header div {
    display: flex !important;
    flex-direction: column !important;
  }

  header img {
    width: 90% !important;
  }

  section {
    flex-direction: column !important;
  }

  section div {
    max-width: 100% !important;
    width: max-content !important;
    display: flex;
    flex-direction: column !important;
  }

  section h1,
  section h2 {
    text-align: center;
  }

  section div p {
    width: auto !important;
    text-align: center;
  }

  section img {
    width: 70% !important;
  }

  .text--biggest {
    font-size: 18px !important;
  }
}

.fade-in {
  animation: fadeIn 2s;
}

.opacity--1 {
  opacity: 1 !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
