@media only screen and (min-width: 768px) {
    body .fixed, body .fixed-2 {
        display: block;
        position: fixed;
        background-color: lightgray;
        z-index: 999;
        padding: 20px;
    }

    .fixed {
        left: 0;
        top: 80%;
        border-radius: 0 30px 30px 0;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .fixed-2 {
        right: 0;
        top: 20%;
        border-radius: 30px 0px 0 30px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    }

    .fixed span {
        font-size: 0;
        font-weight: bold;
        transition: .3s all ease;
    }

    .fixed-2 .profile {
        width: 0;
        height: 0;
        transform: scale(0);
        transition: .3s all ease;
        visibility: hidden;
    }

    .fixed-2 .profile img {
        width: 0;
    }

    .fixed i, .fixed-2 i {
        transition: .3s all ease;
        color: rgb(33, 172, 33);
    }

    .fixed:hover span {
        font-size: 1em;
    }

    .fixed-2:hover {
        border-radius: 0;
        background-color: #fff;
    }

    .fixed-2:hover .profile {
        width: 250px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(1);
        visibility: visible;
    }

    .fixed-2:hover .profile img {
        width: 250px;
    }

    .fixed:hover i, .fixed-2:hover i {
        font-size: 0;
    }

    .fixed-2:hover .profile a {
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    .main-nav {
        height: 20vh;
    }

    .main-nav-holder {
        height: 100%;
        padding: 0 5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: rgba(255,255,255,0.7);
    }

    .main-nav .main-nav-holder .logo {
        animation-name: heartBeat;
        animation-delay: 1s;
        animation-duration: 4s;
        /* animation-iteration-count: infinite; */
        animation-timing-function: ease-in-out;
    }

    .mobile-hamburger {
        display: none;
    }

    .main-nav .mobile-holder {
        display: flex;
        height: auto;
        width: 100%;
    }

    .main-nav .mobile-holder .mobile-items {
        display: flex;
        width: 100%;
        font-weight: bolder;
        font-size: 1.5em;
    }

    .main-nav .mobile-holder .mobile-items a:hover {
        transform: scale(1.1);
        color: black;
        border-bottom: 1px solid;
        transition: .2s all ease;
    }

    .header-container {
        background-image: url('../img/bg-header.jpg');
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }

    .header-container header {
        position: unset;
        align-items: center;
        justify-content: flex-start;
        height: 80vh;
    }

    .header-container header #slider {
        height: 100%;
        display: none;
    }

    .header-container header .welcome-message {
        position: unset;
        opacity: 1;
        background-color: transparent;
        animation: none;
        background-color: rgba(0,0,0,.35);
    }

    .header-container header .welcome-message .container {
        padding: 5% 20%;
    }

    .header-container header .welcome-message .container .box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .header-container header .welcome-message .welcome-text {
        display: block;
    }
/* BUTTON */
    .header-container header .welcome-message .btn {
        display: block;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
    }

    .btn-one {
        color: #FFF;
        transition: all 0.3s;
        position: relative;
      }
      .btn-one h1 {
        transition: all 0.3s;
        font-size: 1.7em;
      }
      .btn-one::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: rgba(255,255,255,0.5);
        border-bottom-color: rgba(255,255,255,0.5);
        transform: scale(0.1, 1);
      }
      .btn-one:hover h1 {
        letter-spacing: 2px;
      }
      .btn-one:hover::before {
        opacity: 1; 
        transform: scale(1, 1); 
      }
      .btn-one::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        /* background-color: rgba(255,255,255,0.1); */
      }
      .btn-one:hover::after {
        opacity: 0; 
        transform: scale(0.1, 1);
      }
      
 /* BUTON */

    .header-container header .welcome-message .logo-in-startup {
        display: none;
    }

    .header-container header .welcome-message .h1-mobile {
        display: none;
        font-size: 3.5em;
        animation-name: pulse;
        animation-duration: 2s;
    }

    .header-container header .wrapper {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .header-container header .wrapper .triangle-down div {
        border-left: 1000px solid transparent; 
        border-right: 1000px solid white; 
        border-top: 100px solid transparent; 
    }

    body section {
        padding: 5% 20%;
        line-height: 2;
    }

    #contact {
        padding: 0;
        background-image: url('../img/contact-bg2.jpg');
        background-size: cover;
        background-attachment: fixed;
    }

    #contact .wrapper {
        display: block;
    }

    #contact .triangle-down div {
        border-left: 1000px solid transparent; 
        border-right: 1000px solid white; 
        border-top: 100px solid white; 
    }

    #contact .contact-form {
        padding: 5% 15%;
    }

    #contact .contact-form #contact-form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contact .contact-form input[type=text], #contact .contact-form textarea {
        width: 80%;
        border-radius: 15px;
        background-color: rgba(255,255,255,.7);
        border: 1px solid white;
        padding: 5px 15px;
    }

    #contact .contact-form input[type=text]:focus, #contact .contact-form textarea:focus {
        width: 100%;
        transition: ease width .4s;
    }

    #contact .contact-form input:focus, #contact .contact-form textarea {
        outline: none;
    }

    #contact .contact-form input[type=submit]:hover {
        background-color: rgba(255,255,255,.2);
    }

    .triangle-down {
        box-sizing: content-box;
        width: 50%; 
        height: 0;
        padding-left:50%;
        padding-top: 5%; 
        overflow: hidden;
    }
    .triangle-down div {
        width: 0;
        height: 0;
        margin-left:-1000px; 
        margin-top:-100px;
    }
}

@keyframes heartBeat {
    0% {
      transform: scale(1);
    }
  
    14% {
      transform: scale(1.2);
    }
  
    28% {
      transform: scale(1);
    }
  
    42% {
      transform: scale(1.2);
    }
  
    70% {
      transform: scale(1);
    }
  }

  @keyframes pulse {
      0% {
          transform: scale(1.4) translateY(+300%);
      }
      50% {
          transform: scale(1) translateY(+300%);
      }
      100% {

      }
  }

  @keyframes gettingSkinny {
      0% {
          width: 100%;
        }
      80% {
          width: 100%;

        }
      100% {
          width: 60%;
        }
  }