@media screen and (max-width: 1350px) {
  .text--bigger {
    font-size: 30px;
  }

  .text--biggest {
    font-size: 34px;
  }

  .text--letter-spacing {
    letter-spacing: 0.3rem;
  }

  .text--letter-spacing-large {
    letter-spacing: 1rem;
  }

  .padding--4 {
    padding: 4rem 1rem;
  }

  .modal .modal-container {
    max-width: 65vw;
  }
}

@media screen and (max-width: 1150px) {
  #navigation {
    width: 70vw;
  }

  .text--bigger {
    font-size: 24px;
  }

  .text--biggest {
    font-size: 30px;
  }

  .text--letter-spacing-large {
    letter-spacing: 0.7rem;
  }
}

@media screen and (max-width: 1000px) {
  .text--bigger {
    font-size: 18px;
  }

  .text--biggest {
    font-size: 24px;
  }

  .text--letter-spacing-large {
    letter-spacing: 0.3rem;
  }

  .modal .modal-container {
    max-width: 85vw;
  }
}

@media screen and (max-width: 800px) {
  section {
    padding: 10px;
  }

  #navigation {
    width: 80vw;
  }

  .text--letter-spacing {
    letter-spacing: normal;
  }

  .text--letter-spacing-large {
    letter-spacing: normal;
  }

  .fb-widget-container .facebook-button {
    display: none;
  }

  .modal .modal-container-title {
    font-size: 1.2rem;
  }

  .mobile-padding--1 .padding--4 {
    padding: 1rem;
  }
}

@media screen and (max-width: 700px) {
  section {
    padding: 10px;
  }

  header div {
    display: flex !important;
    flex-direction: column !important;
  }

  header img {
    width: 90% !important;
  }

  section {
    flex-direction: column !important;
  }

  section .mobile--column {
    max-width: 100% !important;
    width: max-content !important;
    display: flex;
    flex-direction: column !important;
  }

  #navigation {
    max-width: 100vw;
    width: 100vw;
    border-radius: 0;
    height: 6vh;
  }

  #navigation a {
    display: none;
  }

  #navigation .hamburger {
    display: block;
    width: fit-content;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  #navigation .hamburger .line {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  #navigation .hamburger:hover {
    cursor: pointer;
  }

  #navigation.expanded {
    flex-direction: column;
    align-items: center;
    height: 20vh;
    font-size: 26px;

    a {
      display: inline-block;
    }
  }

  #navigation.expanded .hamburger .line:nth-child(2) {
    opacity: 0;
  }

  #navigation.expanded .hamburger .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }

  #navigation.expanded .hamburger .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

  #about,
  #requirements,
  #contact,
  #prices {
    scroll-margin-top: 20vh;
  }

  .mobile-width--7 {
    width: 70%;
  }

  .mobile-width--8 {
    width: 80%;
  }

  .mobile-width--9 {
    width: 90%;
  }

  .mobile-margin-bottom--0 {
    margin-bottom: 0;
  }

  .mobile-margin-top--0 {
    margin-top: 0;
  }

  .mobile-margin-bottom--2 {
    margin-bottom: 2rem;
  }

  .mobile-h-margins--0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mobile-v-margins--0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mobile-h-margins--1 {
    margin-top: 1;
    margin-bottom: 1;
  }

  form {
    padding: 1rem !important;
  }

  section h1,
  section h2 {
    text-align: center;
  }

  section div p {
    width: auto !important;
    text-align: center;
  }

  .text--biggest {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 500px) {
  .modal-container-title svg {
    display: none;
  }
}
